* {
    box-sizing: border-box;
}

body {
    background-color: #621402;
    font-family: 'Roboto', sans-serif;
    color: white;
}

.container {
    max-width: 1170px;
    margin: auto;
}

.header {
    background: linear-gradient(180deg, rgb(98, 20, 2, 0.31) 0%, #621402 85.62%),
        url('../IMG/bg.png') no-repeat center top / cover;
    min-height: 100vh;

}

.navbar {
    display: flex;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.menu {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding-left: 57px;
}

.menu-item {
    margin-right: 25px;
}

.menu-link {
    color: white;
    text-decoration: none;
}

.user {
    margin-left: auto;
    color: white;
    display: flex;
    align-items: center;
}

.avatar {
    width: 33px;
    height: 33px;
    border-radius: 50%;
    margin-left: 11px;
}

